# macOS
.DS_Store
Thumbs.db
*.log

# Rust
/target/
backend/target/
**/*.rs.bk  
# /Cargo.lock

# Node
frontend/node_modules
node_modules/
dist/
npm-debug.log*
yarn-error.log

# Docker
*.tar
*.img
*.log

# Misc
.idea/
.vscode/
*.pem
